<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="recto">Recto</a>
      <a class="item" data-tab="verso">Verso</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    <style type="text/css">
      h1{
        font-size: 16px !important;
        height: 21px !important;
        margin-top: 18px !important;
      }
      .flex{ display:flex;}
      .flex-wrap{ display:flex; flex-wrap:wrap;}
      .flex-grow { flex-grow:1; }
      .inputGroupNoWidth{ margin:3px;}
      .inputGroup{
        margin:3px;
        min-width: 150px;
      }
      .inputGroupBox{
        margin:3px;
        width: 50px;
      }
      .inputLabel{
        font-size: 10px;
        color:#333333
      }
      .inputBox {
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        background: none !important;
      }
      .font8{ font-size: 8px !important; }
      .font9{ font-size: 9px !important; }
      .font10{ font-size: 10px !important; }
      .font12{ font-size: 12px !important; }
      .font16{ font-size: 16px !important; }
      .width50 {width:50px !important;}
      .width75 {width:75px !important;}
      .width100 {width:100px !important;}
      .width150 {width:150px !important;}
      .width200 {width:200px !important;}
      .width100P {width:100% !important;}
      .height21 {height: 21px !important;}
      .height50 {height: 50px !important;}
      .height75 {height: 75px !important;}
      .height100 {height: 100px !important;}
      .height150 {height: 150px !important;}
      .height200 {height: 200px !important;}
      .height300 {height: 300px !important;}
      .height500 {height: 500px !important;}
      .height550 {height: 550px !important;}
      .align-center {text-align: center;}
      .marginRight5 {margin-right:5px !important;}
      .marginLeft5 {margin-left:5px !important;}
      .marginTop5 {margin-top:5px !important;}
      .marginTop10 {margin-top:10px !important;}
      .marginTop18 {margin-top:18px !important;}
      .margin-auto {margin: auto;}
    </style>
    
    <div class="tab recto" data-group="primary" data-tab="recto">
      
  <div style="display:flex">
    <div style="flex-grow:1;">

      <!-- Description -->
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Description</h1>
          <div></div>
        </div>
        <div class="flex-wrap">
          <div class="inputGroup flex-grow">
            <div class="inputLabel">Joueur</div>
            <input class="inputBox"
              placeholder="Joueur"
              type="text" 
              name="data.biography.player" 
              value="{{data.biography.player}}"/>
          </div>
          <div class="inputGroup flex-grow">
            <div class="inputLabel">Archétype</div>
            <input class="inputBox"
              placeholder="Archétype"
              type="text" 
              name="data.biography.archetype" 
              value="{{data.biography.archetype}}"/>
          </div>
          <div class="inputGroup flex-grow">
            <div class="inputLabel">Nom</div>
            <input class="inputBox"
              placeholder="Nom"
              type="text" 
              name="data.biography.name" 
              value="{{data.biography.name}}"/>
          </div>
          <div class="inputGroup flex-grow">
            <div class="inputLabel">Race</div>
            <input class="inputBox"
              placeholder="Race"
              type="text" 
              name="data.biography.race" 
              value="{{data.biography.race}}"/>
          </div>
          <div class="inputGroup flex-grow">
            <div class="inputLabel">Signes particuliers</div>
            <input class="inputBox"
              placeholder="Signes particuliers"
              type="text" 
              name="data.biography.signes" 
              value="{{data.biography.signes}}"/>
          </div>
        </div>
      </div>

      <!-- Images, Destin, Xp, Joker -->
      <div class="flex-grow flex-wrap">
        <img class="profile-img" 
          src="{{actor.img}}" 
          data-edit="img" 
          title="{{actor.name}}" 
          style="margin:5px;"
          height="100" width="100"/>

          <div class="flex-grow" style="margin:5px; background:#FFFFFF40;">
            <div class="inputGroupBox flex-grow">
              <div class="inputLabel">Destin</div>
              <input class="inputBox"
                placeholder="Destin"
                type="text" 
                name="data.destiny" 
                value="{{data.destiny}}"/>
            </div>
          </div>
          <div class="flex-grow" style="margin:5px; background:#FFFFFF40;">
            <div class="inputGroupBox flex-grow">
              <div class="inputLabel">XP</div>
              <input class="inputBox"
                placeholder="XP"
                type="text" 
                name="data.xp" 
                value="{{data.xp}}"/>
            </div>
          </div>
          <div class="flex-grow" style="margin:5px; background:#FFFFFF40;">
            <div class="inputGroupBox flex-grow">
              <div class="inputLabel">Jokers</div>
              <input class="inputBox"
                placeholder="Jokers"
                type="text" 
                name="data.jokers" 
                value="{{data.jokers}}"/>
            </div>
          </div>
      </div>

      <!-- Attributs -->
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Attributs</h1>
          <div></div>
        </div>
        <div class="flex">
          <div class="flex-grow">
            <!-- Force -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="FOR/FOR">Force</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.strength.value" 
                value="{{data.attributes.strength.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.strength.progression" 
                value="{{data.attributes.strength.progression}}"/>
            </div>

            <!-- Endurance -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="END/*">Endurance</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.endurance.value" 
                value="{{data.attributes.endurance.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.endurance.progression" 
                value="{{data.attributes.endurance.progression}}"/>
            </div>

            <!-- Dextérité -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="DEX/*">Dextérité</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.dexterity.value" 
                value="{{data.attributes.dexterity.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.dexterity.progression" 
                value="{{data.attributes.dexterity.progression}}"/>
            </div>

            <!-- Rapidité -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="VIT/*">Rapidité</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.speed.value" 
                value="{{data.attributes.speed.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.speed.progression" 
                value="{{data.attributes.speed.progression}}"/>
            </div>
          </div>
          
          <div class="flex-grow">
            <!-- Perception -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="PER/*">Perception</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.perception.value" 
                value="{{data.attributes.perception.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.perception.progression" 
                value="{{data.attributes.perception.progression}}"/>
            </div>

            <!-- Volonté -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="VOL/*">Volonté</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.will.value" 
                value="{{data.attributes.will.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.will.progression" 
                value="{{data.attributes.will.progression}}"/>
            </div>

            <!-- Intelligence -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="INT/*">Intelligence</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.intelligence.value" 
                value="{{data.attributes.intelligence.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.intelligence.progression" 
                value="{{data.attributes.intelligence.progression}}"/>
            </div>

            <!-- Charisme -->
            <div class="marginTop5 inputGroup flex-grow flex">
              <span class="flex-grow font16 rollable" data-rollsdc="CHA/*">Charisme</span>
              <input class="inputBox width50"
                placeholder="Valeur"
                type="text" 
                name="data.attributes.charisma.value" 
                value="{{data.attributes.charisma.value}}"/>
              <input class="inputBox font8 width50"
                placeholder="Prog."
                type="text" 
                name="data.attributes.charisma.progression" 
                value="{{data.attributes.charisma.progression}}"/>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Atouts, Handicaps, Talents -->
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Atouts, Handicaps, Talents</h1>
          <div></div>
        </div>
        <div class="width100P height550">
          {{editor content=data.strengthsDisabilitiesTalents target="data.strengthsDisabilitiesTalents" rollData=rollData button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    <!-- Compétences -->
    <div style="max-width:250px;">
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Compétence</h1>
          <div></div>
        </div>
        <table class="font10">
          <tr>
            <th class="font8">Compétence</th>
            <th class="font8">Rang</th>
            <th class="font8">Attr.</th>
            <th class="font8">Mod</th>
            <th></th>
          </tr>
          <tr style="background:#FF000010"> <td><span class="rollable" data-rollsdc="{{data.skills.CombatArme.name}}/DEX">{{data.skills.CombatArme.name}}</span></td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.CombatArme.rank" value="{{data.skills.CombatArme.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.CombatArme.mod" value="{{data.skills.CombatArme.mod}}"/> </td></tr>
          <tr style="background:#FF000010"> <td><span class="rollable" data-rollsdc="{{data.skills.CombatTrait.name}}/DEX">{{data.skills.CombatTrait.name}}</span></td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.CombatTrait.rank" value="{{data.skills.CombatTrait.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.CombatTrait.mod" value="{{data.skills.CombatTrait.mod}}"/> </td></tr>
          <tr style="background:#FF000010"> <td><span class="rollable" data-rollsdc="{{data.skills.Esquive.name}}/RAP">{{data.skills.Esquive.name}}</span></td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Esquive.rank" value="{{data.skills.Esquive.rank}}"/> </td> <td> RAP</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Esquive.mod" value="{{data.skills.Esquive.mod}}"/> </td></tr>
          <tr style="background:#FF000010"> <td><span class="rollable" data-rollsdc="{{data.skills.Lancer.name}}/DEX">{{data.skills.Lancer.name}}</span></td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Lancer.rank" value="{{data.skills.Lancer.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Lancer.mod" value="{{data.skills.Lancer.mod}}"/> </td> </tr>		  
          <tr style="background:#FF000010"> <td><span class="rollable" data-rollsdc="{{data.skills.MainsNues.name}}/DEX">{{data.skills.MainsNues.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.MainsNues.rank" value="{{data.skills.MainsNues.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.MainsNues.mod" value="{{data.skills.MainsNues.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Acrobatie.name}}/DEX">{{data.skills.Acrobatie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Acrobatie.rank" value="{{data.skills.Acrobatie.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Acrobatie.mod" value="{{data.skills.Acrobatie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Art.name}}/CHA">{{data.skills.Art.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Art.rank" value="{{data.skills.Art.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Art.mod" value="{{data.skills.Art.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Artisanat.name}}/INT">{{data.skills.Artisanat.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Artisanat.rank" value="{{data.skills.Artisanat.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Artisanat.mod" value="{{data.skills.Artisanat.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Bureaucratie.name}}/INT">{{data.skills.Bureaucratie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Bureaucratie.rank" value="{{data.skills.Bureaucratie.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Bureaucratie.mod" value="{{data.skills.Bureaucratie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Chirurgie.name}}/INT">{{data.skills.Chirurgie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Chirurgie.rank" value="{{data.skills.Chirurgie.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Chirurgie.mod" value="{{data.skills.Chirurgie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Commandement.name}}/CHA">{{data.skills.Commandement.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Commandement.rank" value="{{data.skills.Commandement.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Commandement.mod" value="{{data.skills.Commandement.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Crochetage.name}}/DEX">{{data.skills.Crochetage.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Crochetage.rank" value="{{data.skills.Crochetage.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Crochetage.mod" value="{{data.skills.Crochetage.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Deguisement.name}}/CHA">{{data.skills.Deguisement.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Deguisement.rank" value="{{data.skills.Deguisement.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Deguisement.mod" value="{{data.skills.Deguisement.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Determination.name}}/VOL">{{data.skills.Determination.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Determination.rank" value="{{data.skills.Determination.rank}}"/> </td> <td> VOL</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Determination.mod" value="{{data.skills.Determination.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Dressage.name}}/CHA">{{data.skills.Dressage.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Dressage.rank" value="{{data.skills.Dressage.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Dressage.mod" value="{{data.skills.Dressage.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Empathie.name}}/CHA">{{data.skills.Empathie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Empathie.rank" value="{{data.skills.Empathie.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Empathie.mod" value="{{data.skills.Empathie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Equitation.name}}/DEX">{{data.skills.Equitation.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Equitation.rank" value="{{data.skills.Equitation.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Equitation.mod" value="{{data.skills.Equitation.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Erudition.name}}/INT">{{data.skills.Erudition.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Erudition.rank" value="{{data.skills.Erudition.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Erudition.mod" value="{{data.skills.Erudition.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Etiquette.name}}/CHA">{{data.skills.Etiquette.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Etiquette.rank" value="{{data.skills.Etiquette.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Etiquette.mod" value="{{data.skills.Etiquette.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Furtivite.name}}/DEX">{{data.skills.Furtivite.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Furtivite.rank" value="{{data.skills.Furtivite.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Furtivite.mod" value="{{data.skills.Furtivite.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Ingenierie.name}}/INT">{{data.skills.Ingenierie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Ingenierie.rank" value="{{data.skills.Ingenierie.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Ingenierie.mod" value="{{data.skills.Ingenierie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Investigation.name}}/PER">{{data.skills.Investigation.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Investigation.rank" value="{{data.skills.Investigation.rank}}"/> </td> <td> PER</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Investigation.mod" value="{{data.skills.Investigation.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Jeux.name}}/INT">{{data.skills.Jeux.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Jeux.rank" value="{{data.skills.Jeux.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Jeux.mod" value="{{data.skills.Jeux.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Langues.name}}/CHA">{{data.skills.Langues.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Langues.rank" value="{{data.skills.Langues.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Langues.mod" value="{{data.skills.Langues.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Marchandage.name}}/CHA">{{data.skills.Marchandage.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Marchandage.rank" value="{{data.skills.Marchandage.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Marchandage.mod" value="{{data.skills.Marchandage.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Navigation.name}}/PER">{{data.skills.Navigation.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Navigation.rank" value="{{data.skills.Navigation.rank}}"/> </td> <td> PER</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Navigation.mod" value="{{data.skills.Navigation.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Orientation.name}}/PER">{{data.skills.Orientation.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Orientation.rank" value="{{data.skills.Orientation.rank}}"/> </td> <td> PER</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Orientation.mod" value="{{data.skills.Orientation.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Persuasion.name}}/CHA">{{data.skills.Persuasion.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Persuasion.rank" value="{{data.skills.Persuasion.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Persuasion.mod" value="{{data.skills.Persuasion.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.PremiersSoins.name}}/INT">{{data.skills.PremiersSoins.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.PremiersSoins.rank" value="{{data.skills.PremiersSoins.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.PremiersSoins.mod" value="{{data.skills.PremiersSoins.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Religion.name}}/CHA">{{data.skills.Religion.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Religion.rank" value="{{data.skills.Religion.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Religion.mod" value="{{data.skills.Religion.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Spectacle.name}}/CHA">{{data.skills.Spectacle.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Spectacle.rank" value="{{data.skills.Spectacle.rank}}"/> </td> <td> CHA</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Spectacle.mod" value="{{data.skills.Spectacle.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Strategie.name}}/INT">{{data.skills.Strategie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Strategie.rank" value="{{data.skills.Strategie.rank}}"/> </td> <td> INT</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Strategie.mod" value="{{data.skills.Strategie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Survie.name}}/PER">{{data.skills.Survie.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Survie.rank" value="{{data.skills.Survie.rank}}"/> </td> <td> PER</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Survie.mod" value="{{data.skills.Survie.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Torture.name}}/VOL">{{data.skills.Torture.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Torture.rank" value="{{data.skills.Torture.rank}}"/> </td> <td> VOL</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Torture.mod" value="{{data.skills.Torture.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.ToursDeMain.name}}/DEX">{{data.skills.ToursDeMain.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.ToursDeMain.rank" value="{{data.skills.ToursDeMain.rank}}"/> </td> <td> DEX</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.ToursDeMain.mod" value="{{data.skills.ToursDeMain.mod}}"/> </td></tr>
          <tr> <td><span class="rollable" data-rollsdc="{{data.skills.Vigilance.name}}/PER">{{data.skills.Vigilance.name}}</td> <td> <input class="inputBox" placeholder="Rang" type="text"name="data.skills.Vigilance.rank" value="{{data.skills.Vigilance.rank}}"/> </td> <td> PER</td><td><input class="inputBox" placeholder="Mod" type="text" name="data.skills.Vigilance.mod" value="{{data.skills.Vigilance.mod}}"/> </td></tr>


        </table>
      </div>
    </div>
  </div>
    </div>

    <div class="tab verso" data-group="primary" data-tab="verso">
      <!-- Combat-->
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Combat</h1>
          <div class="inputGroupNoWidth width100">
            <div class="inputLabel">Actions</div>
            <input class="inputBox"
              placeholder="Actions"
              type="text" 
              name="data.combat.actions" 
              value="{{data.combat.actions}}"/>
          </div>
          <div class="inputGroupNoWidth width100">
            <div class="inputLabel">Initiative</div>
            <input class="inputBox"
              placeholder="Initiative"
              type="text" 
              name="data.combat.initiative" 
              value="{{data.combat.initiative}}"/>
          </div>
          <div class="inputGroupNoWidth width100">
            <div class="inputLabel">Réflexes Naturels</div>
            <input class="inputBox"
              placeholder="Réflexes Nat."
              type="text" 
              name="data.combat.naturelReflex" 
              value="{{data.combat.naturelReflex}}"/>
          </div>
        </div>
        <table class="font9">
          <tr>
            <th>Armes de contact</th>
            <th></th>
            <th class="width50">Dégats</th>
            <th class="width50">Force</th>
            <th class="width50">Type</th>
            <th class="width50">Cri.</th>
            <th class="width50">Parade</th>
            <th class="width50">Solidité</th>
            <th class="width75">Notes</th>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Arme" type="text" name="data.combat.weaponsCac.el1.name" value="{{data.combat.weaponsCac.el1.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsCac.el1.damage}}/{{data.combat.weaponsCac.el1.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Dégats" type="text" name="data.combat.weaponsCac.el1.damage" value="{{data.combat.weaponsCac.el1.damage}}"/></td>
            <td><input class="inputBox" placeholder="Force" type="text" name="data.combat.weaponsCac.el1.strenght" value="{{data.combat.weaponsCac.el1.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsCac.el1.type" value="{{data.combat.weaponsCac.el1.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsCac.el1.critic" value="{{data.combat.weaponsCac.el1.critic}}"/></td>
            <td><input class="inputBox" placeholder="Par." type="text" name="data.combat.weaponsCac.el1.parade" value="{{data.combat.weaponsCac.el1.parade}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsCac.el1.solidity" value="{{data.combat.weaponsCac.el1.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsCac.el1.notes" value="{{data.combat.weaponsCac.el1.notes}}"/></td>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Arme" type="text" name="data.combat.weaponsCac.el2.name" value="{{data.combat.weaponsCac.el2.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsCac.el2.damage}}/{{data.combat.weaponsCac.el2.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Dégats" type="text" name="data.combat.weaponsCac.el2.damage" value="{{data.combat.weaponsCac.el2.damage}}"/></td>
            <td><input class="inputBox" placeholder="Force" type="text" name="data.combat.weaponsCac.el2.strenght" value="{{data.combat.weaponsCac.el2.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsCac.el2.type" value="{{data.combat.weaponsCac.el2.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsCac.el2.critic" value="{{data.combat.weaponsCac.el2.critic}}"/></td>
            <td><input class="inputBox" placeholder="Par." type="text" name="data.combat.weaponsCac.el2.parade" value="{{data.combat.weaponsCac.el2.parade}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsCac.el2.solidity" value="{{data.combat.weaponsCac.el2.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsCac.el2.notes" value="{{data.combat.weaponsCac.el2.notes}}"/></td>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Arme" type="text" name="data.combat.weaponsCac.el3.name" value="{{data.combat.weaponsCac.el3.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsCac.el3.damage}}/{{data.combat.weaponsCac.el3.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Dégats" type="text" name="data.combat.weaponsCac.el3.damage" value="{{data.combat.weaponsCac.el3.damage}}"/></td>
            <td><input class="inputBox" placeholder="Force" type="text" name="data.combat.weaponsCac.el3.strenght" value="{{data.combat.weaponsCac.el3.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsCac.el3.type" value="{{data.combat.weaponsCac.el3.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsCac.el3.critic" value="{{data.combat.weaponsCac.el3.critic}}"/></td>
            <td><input class="inputBox" placeholder="Par." type="text" name="data.combat.weaponsCac.el3.parade" value="{{data.combat.weaponsCac.el3.parade}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsCac.el3.solidity" value="{{data.combat.weaponsCac.el3.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsCac.el3.notes" value="{{data.combat.weaponsCac.el3.notes}}"/></td>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Arme" type="text" name="data.combat.weaponsCac.el4.name" value="{{data.combat.weaponsCac.el4.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsCac.el4.damage}}/{{data.combat.weaponsCac.el4.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Dégats" type="text" name="data.combat.weaponsCac.el4.damage" value="{{data.combat.weaponsCac.el4.damage}}"/></td>
            <td><input class="inputBox" placeholder="Force" type="text" name="data.combat.weaponsCac.el4.strenght" value="{{data.combat.weaponsCac.el4.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsCac.el4.type" value="{{data.combat.weaponsCac.el4.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsCac.el4.critic" value="{{data.combat.weaponsCac.el4.critic}}"/></td>
            <td><input class="inputBox" placeholder="Par." type="text" name="data.combat.weaponsCac.el4.parade" value="{{data.combat.weaponsCac.el4.parade}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsCac.el4.solidity" value="{{data.combat.weaponsCac.el4.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsCac.el4.notes" value="{{data.combat.weaponsCac.el4.notes}}"/></td>
          </tr>
        </table>
        <table class="font9">
          <tr>
            <th>Armes à distance</th>
            <th></th>
            <th class="width50">Dégats</th>
            <th class="width50">Force</th>
            <th class="width50">Type</th>
            <th class="width50">Cri.</th>
            <th class="width50">Cad.</th>
            <th class="width50">Portée</th>
            <th class="width50">Solidité</th>
            <th class="width75">Notes</th>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Name" type="text" name="data.combat.weaponsDistance.el1.name" value="{{data.combat.weaponsDistance.el1.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsDistance.el1.damage}}/{{data.combat.weaponsDistance.el1.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Deg." type="text" name="data.combat.weaponsDistance.el1.damage" value="{{data.combat.weaponsDistance.el1.damage}}"/></td>
            <td><input class="inputBox" placeholder="For." type="text" name="data.combat.weaponsDistance.el1.strenght" value="{{data.combat.weaponsDistance.el1.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsDistance.el1.type" value="{{data.combat.weaponsDistance.el1.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsDistance.el1.critic" value="{{data.combat.weaponsDistance.el1.critic}}"/></td>
            <td><input class="inputBox" placeholder="Cad." type="text" name="data.combat.weaponsDistance.el1.cadence" value="{{data.combat.weaponsDistance.el1.cadence}}"/></td>
            <td><input class="inputBox" placeholder="Por." type="text" name="data.combat.weaponsDistance.el1.reach" value="{{data.combat.weaponsDistance.el1.reach}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsDistance.el1.solidity" value="{{data.combat.weaponsDistance.el1.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsDistance.el1.notes" value="{{data.combat.weaponsDistance.el1.notes}}"/></td>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Name" type="text" name="data.combat.weaponsDistance.el2.name" value="{{data.combat.weaponsDistance.el2.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsDistance.el2.damage}}/{{data.combat.weaponsDistance.el2.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Deg." type="text" name="data.combat.weaponsDistance.el2.damage" value="{{data.combat.weaponsDistance.el2.damage}}"/></td>
            <td><input class="inputBox" placeholder="For." type="text" name="data.combat.weaponsDistance.el2.strenght" value="{{data.combat.weaponsDistance.el2.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsDistance.el2.type" value="{{data.combat.weaponsDistance.el2.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsDistance.el2.critic" value="{{data.combat.weaponsDistance.el2.critic}}"/></td>
            <td><input class="inputBox" placeholder="Cad." type="text" name="data.combat.weaponsDistance.el2.cadence" value="{{data.combat.weaponsDistance.el2.cadence}}"/></td>
            <td><input class="inputBox" placeholder="Por." type="text" name="data.combat.weaponsDistance.el2.reach" value="{{data.combat.weaponsDistance.el2.reach}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsDistance.el2.solidity" value="{{data.combat.weaponsDistance.el2.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsDistance.el2.notes" value="{{data.combat.weaponsDistance.el2.notes}}"/></td>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Name" type="text" name="data.combat.weaponsDistance.el3.name" value="{{data.combat.weaponsDistance.el3.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.combat.weaponsDistance.el3.damage}}/{{data.combat.weaponsDistance.el3.strenght}}">D10</span></td>
            <td><input class="inputBox" placeholder="Deg." type="text" name="data.combat.weaponsDistance.el3.damage" value="{{data.combat.weaponsDistance.el3.damage}}"/></td>
            <td><input class="inputBox" placeholder="For." type="text" name="data.combat.weaponsDistance.el3.strenght" value="{{data.combat.weaponsDistance.el3.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.weaponsDistance.el3.type" value="{{data.combat.weaponsDistance.el3.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.weaponsDistance.el3.critic" value="{{data.combat.weaponsDistance.el3.critic}}"/></td>
            <td><input class="inputBox" placeholder="Cad." type="text" name="data.combat.weaponsDistance.el3.cadence" value="{{data.combat.weaponsDistance.el3.cadence}}"/></td>
            <td><input class="inputBox" placeholder="Por." type="text" name="data.combat.weaponsDistance.el3.reach" value="{{data.combat.weaponsDistance.el3.reach}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.weaponsDistance.el3.solidity" value="{{data.combat.weaponsDistance.el3.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.weaponsDistance.el3.notes" value="{{data.combat.weaponsDistance.el3.notes}}"/></td>
          </tr>
        </table>
        <table class="font9">
          <tr>
            <th>Bouclier</th>
            <th></th>
            <th class="width50">ParC</th>
            <th></th>
            <th class="width50">ParD</th>
            <th class="width50">Planqué</th>
            <th class="width50">Dégats</th>
            <th class="width50">Force</th>
            <th class="width50">Type</th>
            <th class="width50">Portée</th>
            <th class="width50">Solidité</th>
            <th class="width75">Notes</th>
          </tr>
          <tr>
            <td><input class="inputBox" placeholder="Arme" type="text" name="data.combat.shield.name" value="{{data.combat.shield.name}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.skills.CombatArme.name}}/{{data.combat.shield.parC}}">D10</span></td>
            <td><input class="inputBox" placeholder="ParC" type="text" name="data.combat.shield.parC" value="{{data.combat.shield.parC}}"/></td>
            <td><span class="rollable" data-rollsdc="{{data.skills.CombatArme.name}}/{{data.combat.shield.parD}}">D10</span></td>
            <td><input class="inputBox" placeholder="ParD" type="text" name="data.combat.shield.parD" value="{{data.combat.shield.parD}}"/></td>
            <td><input class="inputBox" placeholder="Cac." type="text" name="data.combat.shield.hidden" value="{{data.combat.shield.hidden}}"/></td>
            <td><input class="inputBox" placeholder="Dég." type="text" name="data.combat.shield.damage" value="{{data.combat.shield.damage}}"/></td>
            <td><input class="inputBox" placeholder="For." type="text" name="data.combat.shield.strenght" value="{{data.combat.shield.strenght}}"/></td>
            <td><input class="inputBox" placeholder="Type" type="text" name="data.combat.shield.type" value="{{data.combat.shield.type}}"/></td>
            <td><input class="inputBox" placeholder="Cri." type="text" name="data.combat.shield.critic" value="{{data.combat.shield.critic}}"/></td>
            <td><input class="inputBox" placeholder="Sol." type="text" name="data.combat.shield.solidity" value="{{data.combat.shield.solidity}}"/></td>
            <td><input class="inputBox" placeholder="Notes" type="text" name="data.combat.shield.notes" value="{{data.combat.shield.notes}}"/></td>
          </tr>
        </table>
      </div>
      
      <div style="flex-grow:1; display:flex;">
        <!-- Résistance -->
        <div style="width:200px;">
          <div style="margin:5px; background:#FFFFFF40;">
            <div class="flex">
              <h1 class="flex-grow">Résistance</h1>
              <div></div>
            </div>
            
          <div class="inputGroupNoWidth width100P">
            <div class="inputLabel">Armure Naturelle</div>
            <input class="inputBox"
              placeholder="Armure Naturelle"
              type="text" 
              name="data.resistance.natural" 
              value="{{data.resistance.natural}}"/>
          </div>
          <div class="inputGroupNoWidth width100P">
            <div class="inputLabel">Armure Complète</div>
            <input class="inputBox"
              placeholder="Armure Complète"
              type="text" 
              name="data.resistance.armor" 
              value="{{data.resistance.armor}}"/>
          </div>
          <div class="inputGroupNoWidth width100P">
            <div class="inputLabel">Seuil de blessure graves</div>
            <input class="inputBox"
              placeholder="Seuil bles. graves"
              type="text" 
              name="data.resistance.heavyInjuryBoundary" 
              value="{{data.resistance.heavyInjuryBoundary}}"/>
          </div>
          <div class="inputGroupNoWidth width100P">
            <div class="inputLabel">Encombrement</div>
            <input class="inputBox"
              placeholder="Encombrement"
              type="text" 
              name="data.resistance.clutter" 
              value="{{data.resistance.clutter}}"/>
          </div>
          </div>
        </div>

        <div style="flex-grow:1;">
          <!-- Santé -->
          <div style="margin:5px; background:#FFFFFF40;">
            <div class="flex">
              <h1 class="flex-grow">Santé</h1>
              <div></div>
            </div>
            <div class="flex">
              <table class="font10 flex-grow">
                <tr class="align-center">
                  <td style="width:{{data.health.normalMax}}0px;"></td>
                  <td>Etat</td>
                  <td class="width50">Malus</td>
                  <td class="width50">Fatigue</td>
                  <td class="width50">Blessure</td>
                  <td class="width50">Max</td>
                </tr>
                <tr>
                  <td>
                    <div class="flex" style="background:green; width:{{data.health.normalMax}}0px;">
                      <div style="height: 10px; width:{{data.health.normalInjure}}0px; background: red;"></div>
                      <div style="height: 10px; width:{{data.health.normalFatigue}}0px; background: orange;"></div>
                    </div>
                  </td>
                  <td><span class="marginLeft5">Normal</span></td>
                  <td class="align-center">0</td>
                  <td><input class="inputBox" placeholder="Fatigue" type="text" name="data.health.normalFatigue" value="{{data.health.normalFatigue}}" data-dtype="Number"/></td>
                  <td><input class="inputBox" placeholder="Blessure" type="text" name="data.health.normalInjure" value="{{data.health.normalInjure}}" data-dtype="Number"/></td>
                  <td><input class="inputBox" placeholder="Max" type="text" name="data.health.normalMax" value="{{data.health.normalMax}}" data-dtype="Number"/></td>
                </tr>
                <tr>
                  <td>
                    <div class="flex" style="background:green; width:{{data.health.injuredMax}}0px;">
                      <div style="height: 10px; width:{{data.health.injuredInjure}}0px; background: red;"></div>
                      <div style="height: 10px; width:{{data.health.injuredFatigue}}0px; background: orange;"></div>
                    </div>
                  </td>
                  <td><span class="marginLeft5">Blessé</span></td>
                  <td class="align-center">-1</td>
                  <td><input class="inputBox" placeholder="Fatigue" type="text" name="data.health.injuredFatigue" value="{{data.health.injuredFatigue}}"/></td>
                  <td><input class="inputBox" placeholder="Blessure" type="text" name="data.health.injuredInjure" value="{{data.health.injuredInjure}}"/></td>
                  <td><input class="inputBox" placeholder="Max" type="text" name="data.health.injuredMax" value="{{data.health.injuredMax}}"/></td>
                </tr>
                <tr>
                  <td>
                    <div class="flex" style="background:green; width:{{data.health.handicappedMax}}0px;">
                      <div style="height: 10px; width:{{data.health.handicappedInjure}}0px; background: red;"></div>
                      <div style="height: 10px; width:{{data.health.handicappedFatigue}}0px; background: orange;"></div>
                    </div>
                  </td>
                  <td><span class="marginLeft5">Handicapé</span></td>
                  <td class="align-center">-2</td>
                  <td><input class="inputBox" placeholder="Fatigue" type="text" name="data.health.handicappedFatigue" value="{{data.health.handicappedFatigue}}"/></td>
                  <td><input class="inputBox" placeholder="Blessure" type="text" name="data.health.handicappedInjure" value="{{data.health.handicappedInjure}}"/></td>
                  <td><input class="inputBox" placeholder="Max" type="text" name="data.health.handicappedMax" value="{{data.health.handicappedMax}}"/></td>
                </tr>
                <tr>
                  <td>
                    <div class="flex" style="background:green; width:{{data.health.inabilityMax}}0px;">
                      <div style="height: 10px; width:{{data.health.inabilityInjure}}0px; background: red;"></div>
                      <div style="height: 10px; width:{{data.health.inabilityFatigue}}0px; background: orange;"></div>
                    </div>
                  </td>
                  <td colspan="2"><span class="marginLeft5">Incapacité</span></td>
                  <td><input class="inputBox" placeholder="Fatigue" type="text" name="data.health.inabilityFatigue" value="{{data.health.inabilityFatigue}}"/></td>
                  <td><input class="inputBox" placeholder="Blessure" type="text" name="data.health.inabilityInjure" value="{{data.health.inabilityInjure}}"/></td>
                  <td><input class="inputBox" placeholder="Max" type="text" name="data.health.inabilityMax" value="{{data.health.inabilityMax}}"/></td>
                </tr>
                <tr>
                  <td>
                    <div class="flex" style="background:green; width:{{data.health.unconsciousMax}}0px;">
                      <div style="height: 10px; width:{{data.health.unconsciousInjure}}0px; background: red;"></div>
                      <div style="height: 10px; width:{{data.health.unconsciousFatigue}}0px; background: orange;"></div>
                    </div>
                  </td>
                  <td colspan="2"><span class="marginLeft5">Inconscient / Mort</span></td>
                  <td><input class="inputBox" placeholder="Fatigue" type="text" name="data.health.unconsciousFatigue" value="{{data.health.unconsciousFatigue}}"/></td>
                  <td><input class="inputBox" placeholder="Blessure" type="text" name="data.health.unconsciousInjure" value="{{data.health.unconsciousInjure}}"/></td>
                  <td><input class="inputBox" placeholder="Max" type="text" name="data.health.unconsciousMax" value="{{data.health.unconsciousMax}}"/></td>
                </tr>
              </table>
              <div class="font8 width75">
                <div class="align-center">
                  Hémoragie
                </div>
                <div class="flex">
                  <input type="checkbox" /> <span class="margin-auto align-center">20min</span>
                </div>
                <div class="flex">
                  <input type="checkbox" /> <span class="margin-auto align-center">2min</span>
                </div>
                <div class="flex">
                  <input type="checkbox" /> <span class="margin-auto align-center">4t.</span>
                </div>
                <div class="flex">
                  <input type="checkbox" /> <span class="margin-auto align-center">2t.</span>
                </div>
                <div class="flex">
                  <input type="checkbox" /> <span class="margin-auto align-center">1t.</span>
                </div>
                <div class="flex">
                  <input type="checkbox" /> <span class="margin-auto align-center">½t.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Déplacement -->
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Déplacement</h1>
        
          <div class="inputGroupNoWidth width150">
            <div class="inputLabel">Multiplicateur Mouvement</div>
            <input class="inputBox"
              placeholder="Multiplicateur"
              type="text" 
              name="data.movement.multiplier" 
              value="{{data.movement.multiplier}}"/>
          </div>
        </div>
        <div class="flex">
          <div class="flex-grow">
            <div class="inputGroupNoWidth width100P">
              <div class="inputLabel">Placement</div>
              <input class="inputBox"
                placeholder="Placement"
                type="text" 
                name="data.movement.placement" 
                value="{{data.movement.placement}}"/>
            </div>
            <div class="font8">Action rapide</div>
          </div>
          <div class="flex-grow">
            <div class="inputGroupNoWidth width100P">
              <div class="inputLabel">Normal</div>
              <input class="inputBox"
                placeholder="Normal"
                type="text" 
                name="data.movement.normal" 
                value="{{data.movement.normal}}"/>
            </div>
            <div class="font8">1 Action</div>
          </div>
          <div class="flex-grow">
            <div class="inputGroupNoWidth width100P">
              <div class="inputLabel">Course / Charge</div>
              <input class="inputBox"
                placeholder="Course / Charge"
                type="text" 
                name="data.movement.charge" 
                value="{{data.movement.charge}}"/>
            </div>
            <div class="font8">2 Actions</div>
          </div>
        </div>
      </div>
      
      <!-- Équipement -->      
      <div style="margin:5px; background:#FFFFFF40;">
        <div class="flex">
          <h1 class="flex-grow">Équipement</h1>
          <div></div>
        </div>
        <div class="width100P height550">
          {{editor content=data.equipments target="data.equipments" rollData=rollData button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
    
      <!-- Description -->   
    <div class="tab description" data-group="primary" data-tab="description">
      <div style="width:100%; height:100%; margin:5px; background:#FFFFFF40;">
        {{editor content=data.biography.description target="data.biography.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>

