<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">  

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="display:flex;">
    <div style="width:150px">

      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
      <h2>{{actor.name}}</h2>
      <table>
        <tr>
          <td>Force</td><td>│</td><td>{{data.attributes.strength.value}}</td>
        </tr>
        <tr>
          <td>Endurance</td><td>┤</td><td>{{data.attributes.endurance.value}}</td>
        </tr>
        <tr>
          <td>Dextérité</td><td>╡</td><td>{{data.attributes.dexterity.value}}</td>
        </tr>
        <tr>
          <td>Rapidité</td><td>╢</td><td>{{data.attributes.speed.value}}</td>
        </tr>
        <tr>
          <td>Perception</td><td>│</td><td>{{data.attributes.perception.value}}</td>
        </tr>
        <tr>
          <td>Velouté</td><td>│</td><td>{{data.attributes.will.value}}</td>
        </tr>
        <tr>
          <td>Intelligence</td><td>│</td><td>{{data.attributes.intelligence.value}}</td>
        </tr>
        <tr>
          <td>Charisme</td><td>│</td><td>{{data.attributes.charisma.value}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>Armure Naturelle</td><td>0</td>
        </tr>
        <tr>
          <td>Armure Complète</td><td>0</td>
        </tr>
        <tr>
          <td>Seuil Bles. Grave</td><td>0</td>
        </tr>
        <tr>
          <td>Multipli. Mouvem.</td><td>1</td>
        </tr>
        <tr>
          <td>Déplacement Normal</td><td>9m</td>
        </tr>
      </table>
    </div>
    <div style="flex-grow:1">
      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="oldfeatures">Old</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="effects">Effects</a>
      </nav>

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div style="display:flex">

          <div style="flex-grow:1">
            <h1>Coucou</h1>
          </div>
          <table style="width:200px">
          <tr><td>DEX Acrobatics</td></tr>
          <tr><td>CHA Art</td></tr>
          <tr><td>INT Arts and crafts</td></tr>
          <tr><td>INT Bureaucracy</td></tr>
          <tr><td>INT surgery</td></tr>
          <tr><td>CHA command</td></tr>
          <tr><td>DEX lockpick</td></tr>
          <tr><td>CHA costume</td></tr>
          <tr><td>FLIGHT determination</td></tr>
          <tr><td>Dressage CHA / FLIGHT</td></tr>
          <tr><td>Empathy CHA</td></tr>
          <tr><td>DEX Riding</td></tr>
          <tr><td>INT scholarship</td></tr>
          <tr><td>CHA label</td></tr>
          <tr><td>DEX Stealth</td></tr>
          <tr><td>INT Engineering</td></tr>
          <tr><td>PER investigation</td></tr>
          <tr><td>INT / CHA games</td></tr>
          <tr><td>CHA Languages -</td></tr>
          <tr><td>CHA bargaining</td></tr>
          <tr><td>PER navigation</td></tr>
          <tr><td>PER orientation</td></tr>
          <tr><td>CHA Persuasion</td></tr>
          <tr><td>INT first aid</td></tr>
          <tr><td>CHA / DEX Show</td></tr>
          <tr><td>INT strategy</td></tr>
          <tr><td>PER survival</td></tr>
          <tr><td>Torture THEFT</td></tr>
          <tr><td>DEX / RAP tricks</td></tr>
          <tr><td>PER Vigilance</td></tr>
        </table>
        </div>
      </div>

      {{!-- Old Attributes Tab --}}
      <div class="tab oldfeatures" data-group="primary" data-tab="oldfeatures">
	  
          <input type="text" name="data.attributes.speed.value" value="{{data.attributes.speed.value}}" data-dtype="Number"/>
          {{#each data.attributes as |attribute key|}}
            <div class="ability flexrow flex-group-center">
              <label for="attribute.value" class="resource-label">{{key}}</label>
              <input type="text" name="attribute.value" value="{{attribute.value}}" data-dtype="Number"/>    
            </div>
          {{/each}}
  
          Strenght {{data.attributes.speed.value}}
          <span class="ability-mod rollable" 
            data-roll="{{data.attributes.speed.value}}d10cs<={{data.attributes.dexterity.value}}x1cs<={{data.attributes.dexterity.value}}" 
            data-label="(RAP){{data.attributes.speed.value}}d10 <= {{data.attributes.dexterity.value}}(DEX)">RAP/DEX
          </span>
      </div>
  
      {{!-- Owned Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
        <section class="grid grid-3col">
          <aside class="sidebar">
  
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
          </aside>
  
          {{!-- For the main features list, span the right two columns --}}
          <section class="main grid-span-2">
            {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
            {{> "systems/sdc/templates/actor/parts/actor-features.html"}}
          </section>
  
        </section>
      </div>
  
      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
        {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
        {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "systems/sdc/templates/actor/parts/actor-items.html"}}
      </div>
  
      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
        {{> "systems/sdc/templates/actor/parts/actor-effects.html"}}
      </div>
    </div>
  </section>
</form>

