<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  --}}
        <div class="resources grid grid-3col">
  
          {{!-- "flex-group-center" is also defined in the _grid.scss file
          and it will add a small amount of padding, a border, and will
          center all of its child elements content and text. --}}
          <div class="resource flex-group-center">
            <label for="data.health.value" class="resource-label">Health</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
            </div>
          </div>
  
          <div class="resource flex-group-center">
            <label for="data.power.value" class="resource-label">Power</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number"/>
            </div>
          </div>
  
          <div class="resource flex-group-center">
            <label for="data.attributes.level.value" class="resource-label">Level</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.level.value" value="{{data.attributes.level.value}}" data-dtype="Number"/>
            </div>
          </div>
  
        </div>
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="features">Features</a>
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="items">Items</a>
      <a class="item" data-tab="effects">Effects</a>
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div>
          
          {{#each data.attributes as |attribute key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.attributes.{{key}}.value" class="resource-label">{{key}}</label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"/>
              <span class="ability-mod">{{numberFormat ability.value decimals=0 sign=true}}</span>
            </div>
          {{/each}}
  
          Strenght {{data.attributes.speed.value}}
          <span class="ability-mod rollable" 
            data-roll="{{data.attributes.speed.value}}d10" 
            data-label="{{key}}">{{numberFormat data.attributes.speed.value}}d10
          </span>
        </p>
      </div>
  
      {{!-- Owned Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
        <section class="grid grid-3col">
          <aside class="sidebar">
  
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
          </aside>
  
          {{!-- For the main features list, span the right two columns --}}
          <section class="main grid-span-2">
            {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
            {{> "systems/sdc/templates/actor/parts/actor-features.html"}}
          </section>
  
        </section>
      </div>
  
      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
        {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
        {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "systems/sdc/templates/actor/parts/actor-items.html"}}
      </div>
  
      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
        {{> "systems/sdc/templates/actor/parts/actor-effects.html"}}
      </div>
  
    </section>
  </form>
  
  