<form class="{{cssClass}}" autocomplete="off">
  <header >
    <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <div class="sheet-header">

      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <div class="grid grid-4col">
          <div class="resource">
            <label class="resource-label">Quantity</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label">Weight</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label">Price</label>
            <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label class="resource-label">Damage Type</label>
            <input type="text" name="data.damageType" value="{{data.damageType}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="grid grid-4col">
          <div class="resource">
            <label class="resource-label">Damage</label>
            <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label">Strenght</label>
            <input type="text" name="data.strenght" value="{{data.strenght}}" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label">Critic</label>
            <input type="text" name="data.critic" value="{{data.critic}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label class="resource-label">Parade</label>
            <input type="text" name="data.parade" value="{{data.parade}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula</label>
        <input type="text" name="data.formula" value="{{data.formula}}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
